<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/categories.css">
    <title>Categories</title>
</head>
<body>
    <h2>Categories</h2>
<!-- -->
<div class="categorieswrapper">
    <h3>Game genres:</h3>
<a href="#">    <div class="cat"> Role-Playing Game</div></a>
<a href="#">    <div class="cat">  Action-Adventure</div></a>
 <a href="#">   <div class="cat">MMO</div></a>
<a href="#">    <div class="cat">  Sports</div></a>
 <a href="#">   <div class="cat">  Strategy</div></a>
 <a href="#">  <div class="cat">  Simulation</div></a>
  <a href="#">  <div class="cat">Puzzle</div></a>

     <h3>Developers:</h3>
   <a href="#"> <div class="dev">  Electronic Arts</div> </a>
  <a href="#"> <div class="dev">  Blizzard Entertainment</div> </a>
  <a href="#"> <div class="dev"> Valve Corporation</div></a>
  <a href="#"> <div class="dev">  Ubisoft Studios</div></a>
  <a href="#"> <div class="dev"> Capcom</div></a>
  <a href="#"> <div class="dev"> Id Software</div></a>
  <a href="#"> <div class="dev">Rockstar Studios</div></a>
  <a href="#"> <div class="dev">Naughty-Dog Studios</div></a>
  <a href="#"> <div class="dev">  Sucker-Punch Studios</div></a>
  <a href="#"> <div class="dev"> PlayStation Studios</div> </a>
     

                    <button class="add">Add Category</button>
</div>