<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/games.css">
    <title>Games</title>
</head>
<body>
    <h2>Games</h2>


        <div id="myBtnContainer">
            <h4>Sort by Price</h4>
<input type="radio" name="price" />Ascending
<input type="radio" name="price" />Descending

               <h4>Sort by Name</h4>
<input type="radio" name="name" />Ascending
<input type="radio" name="name" />Descending

    <h4>Filter by Genre</h4>
       <input type="checkbox" id="RPG" name="RPG" checked /> Role-Playing Game
       <input type="checkbox" id="actionadventure" name="actionadventure" checked />Action-Adventure
       <input type="checkbox" id="mmo" name="mmo" checked /> MMO
       <input type="checkbox" id="sports" name="sports" checked /> Sports
       <input type="checkbox" id="strategy" name="strategy" checked /> Strategy
     <input type="checkbox" id="simulation" name="simulation" checked /> Simulation
          <input type="checkbox" id="puzzle" name="puzzle" checked /> Puzzle

            <h4>Filter by Developer</h4>
                   <input type="checkbox" id="ea" name="ea" checked /> Electronic Arts
                    <input type="checkbox" id="blizzard" name="blizzard" checked /> Blizzard Entertainment
                    <input type="checkbox" id="valve" name="valve" checked /> Valve Corporation
                     <input type="checkbox" id="ubisoft" name="ubisoft" checked /> Ubisoft Studios
                    <input type="checkbox" id="capcom" name="capcom" checked /> Capcom
                    <input type="checkbox" id="idsoft" name="idsoft" checked /> Id Software
                     <input type="checkbox" id="rockstar" name="rockstar" checked /> Rockstar Studios
                    <input type="checkbox" id="naughtydog" name="naughtydog" checked /> Naughty-Dog Studios
                    <input type="checkbox" id="suckerpunch" name="suckerpunch" checked /> Sucker-Punch Studios
                    <input type="checkbox" id="sony" name="sony" checked /> PlayStation Studios





</div>

</body>
</html>