<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/games.css">
    <title>Games</title>
</head>
<body>
    <h2>Games</h2>

    <div class="grid">

        <div id="myBtnContainer">
            <h4>Sort by Price</h4>
<input type="radio" name="price" />Ascending
<input type="radio" name="price" />Descending

               <h4>Sort by Name</h4>
<input type="radio" name="name" />Ascending
<input type="radio" name="name" />Descending

    <h4>Filter by Genre</h4>
       <input type="checkbox" id="RPG" name="RPG" checked /> Role-Playing Game
       <input type="checkbox" id="actionadventure" name="actionadventure" checked />Action-Adventure
       <input type="checkbox" id="mmo" name="mmo" checked /> MMO
       <input type="checkbox" id="sports" name="sports" checked /> Sports
       <input type="checkbox" id="strategy" name="strategy" checked /> Strategy
     <input type="checkbox" id="simulation" name="simulation" checked /> Simulation
          <input type="checkbox" id="puzzle" name="puzzle" checked /> Puzzle


</div>

    </div>
</body>
</html>