@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

#myBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gamescontainer {

 display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  min-height: 200px; 

}
.game {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 150px;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.games {
       display: grid;
      grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  column-gap: 10px;
  row-gap: 15px;

}

